<mj-section background-color="#4B6AF8">
  <mj-column>
    <mj-text mj-class="emoji">
     🔔
    </mj-text>
    <mj-text mj-class="text-presentation">
      New notification
    </mj-text>
  </mj-column>
</mj-section>
<mj-section mj-class="message-container">
  <mj-column>
    <mj-text mj-class="text">
      Hi <span style="font-weight:bold"><%= @target.first_name %></span>!<br><br>
    </mj-text>
    <mj-text mj-class="text">
      A new program will soon start on JOGL: <a href="<%= Rails.configuration.frontend_url %>/program/<%= @object.short_title %>" style="color:#4B6AF8!important"><%= @object.title %></a>.
    </mj-text>
    <mj-button
      mj-class="button"
      href="<%= Rails.configuration.frontend_url %>/program/<%= @object.short_title %>">
      <span style="padding-left:20px; padding-right:20px">Check it out!</span>
    </mj-button>
  </mj-column>
</mj-section>
